.summary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 25px;
}

/* Responsive */
@media (max-width: 900px) {
  .summary-grid {
    grid-template-columns: 1fr;
  }
}
